
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

a {
  color: #eee;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 3;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to right, #4B6A86 0%, #C8CAD2 100%);
  height: 8vh;
  /* overlay */
  background-color: rgb(0, 0, 0, 0.1);
  background-blend-mode: color;
}

main {
  height: 100vh;
  background: url("imgWork/predio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;  
  background-color: rgb(0, 0, 0, 0.2);
  background-blend-mode: color;
}

.conteudo-principal{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  color: #eee;
}

.conteudo-principal-titulo {
  font-family: Arial;
  font-size: 5.4rem;
  width: 80%;
  max-width: 980px;
  position: absolute;
  left: 10%;
  top: 25vh;
}

.conteudo-principal-paragrafo {
  font-family: Arial;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 50vh;
  line-height: 3.0rem;
  font-size: 2.3rem;
}

#conteudo-secudario {
  background: url(imgWork/pexels-diva-plavalaguna-6146697.jpg) no-repeat center;
  background-size: 50%;
  background-position: left;
  height: 100vh;
  padding: 5vh;
}

.conteudo-secuntadario-titulo {
  display: flex;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
}

.conteudo-titulo-paragrafo {
display: flex;
flex-direction: column;
padding-left: 50vw;
padding-top: 3vw;
color: blue
}

.conteudo01{
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 50vw;
  }

.paragrafo-conteudo01 {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 50vw;
}

.conteudo-todo02{
  position:relative;
  top: 40px;
}

.conteudo-titulo-paragrafo02{
  display: flex;
  flex-direction: column;
  padding-left: 50vw;
  color: blue;
  }

.couteudo02{
font-size: 1.8rem;
display: flex;
flex-direction: column;
padding-top: 15px;
padding-left: 50vw;
}

.paragrafo-conteudo02{
font-size: 1.8rem;
display: flex;
flex-direction: column;
padding-top: 15px;
padding-left: 50vw;
}


.conteudo-todo03{
  position:relative;
  top: 80px;
}

.conteudo-titulo-paragrafo03{
  display: flex;
  flex-direction: column;
  padding-left: 50vw;
  color: blue;
  }

.conteudo03{
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 50vw;  
}

.paragrafo-conteudo03{
font-size: 1.8rem;
display: flex;
flex-direction: column;
padding-top: 15px;
padding-left: 50vw;
}

.conteudo-clientes-titulo {
  display: flex;
  align-items:center;
  flex-direction: column;  
  font-size: 3rem;
  color: black; 
  padding-bottom: 15vh;
  padding-top: 15vh;
}

.carrocel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  padding-right: 13%;
}

.logo1 { /* logo unidas */
  width: 15%;
  padding-left: 15%;
  position: relative;
  top: 15px;
  padding-bottom: 10vh;
}

.logo2 { /* Logo Carrefour */
  width: 13%;
  padding-left: 15%;
  position: relative;
  bottom: 70px;
  padding-top: 50px;
  padding-bottom: 10vh;
}

.logo3 { /* logo vunesp*/
  width: 13%;
  position: relative;
  top: 15px;
  padding-left: 15%;
  padding-bottom: 10vh;  
}

.logo4 {  /* logo JHE*/
  width: 11%;
  padding-left: 15%;
  position: relative;
  top: 12px;
  padding-right: 15px;
  padding-bottom: 10vh;
}

.logo5 { /* logo trt15 */
  width: 13%;
  position: relative;
  bottom: 70px;
  padding-left: 15%;
  padding-bottom: 10vh;
}

.logo6 { /* logo vistra*/
  width: 12%;
  position: relative;
  bottom: 70px;
  padding-left: 15%;
}

.Logo-work {
  display: flex;
  align-items: center;

}

.logo-principal {
  position: relative;
  top: 30%;
}

#conteudo-contato {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.conteudo-contato-titulo {
  font-size: 2.0rem;
  text-transform: uppercase;
  padding-bottom: 4%;
  color:black;
}

.conteudo-endereco-titulo {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  position: relative;
  right: 170px;
}

.conteudo-telefone-titulo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: black;
  position: relative;
  right: 310px;
}

.conteudo-proposito {
  font-size: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  left: 25px;
}

.conteudo-valores {
  font-size: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  right: 130px;
}

.whats {
  display: flex;
  padding: 20px 20px 20px 20px;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
  background-image: linear-gradient(to right, #4B6A86 0%, #C8CAD2 100%);
}

.titulo-whats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

.paragrafo-whats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

.img-whats {
  width: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 25%;
  top: 30px;
}

.whast-numero {
  display: flex;
  align-items: center;
  font-size: 4rem;
  color: black;
  position: relative;
  padding-left: 35%;
  bottom: 23px;
}


.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
 
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 100vh;
    background: green;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 1440px){
  #conteudo-secudario{
    background-size: 53%;
    background-position-x: left;
    position: relative;
  }
}

@media (max-width: 1024px){
  html{
    font-size: 50%;
  }

  .conteudo-principal-titulo{
    width: 80%;  
  }

  .conteudo-principal-paragrafo{
    width: 80%;
  }

  #conteudo-secudario{
    background-size: 70%;
    background-position-x: center;
    position: relative;
    bottom: 18vh;
}

.conteudo-secuntadario-titulo{
    position: relative;
    top: 80vh;
    font-size: 3vh;
}

.conteudo-titulo-paragrafo{
    position: relative;
    top: 80vh;
    right: 60vh;
    font-size: 2.3vh;  
}

.conteudo01{
    position: relative;
    top: 80vh;
    right: 60vh;
    font-size: 2.1vh; 
}

.paragrafo-conteudo01{
    position: relative;
    top: 85vh;
    right: 60vh;
    font-size: 2.1vh;    
}

.conteudo-titulo-paragrafo02{
    position: relative;
    top: 45vh;
    left: 15px;
    font-size: 2.3vh;   
}

.couteudo02{
    position: relative;
    top: 45vh;
    left: 15px;
    font-size: 2.1vh; 
}

.paragrafo-conteudo02{
    position: relative;
    top: 51vh;
    left: 15px;
    font-size: 2.1vh; 
}

.conteudo-todo03{
top: 35vh;
right: 10vh;
}

.conteudo-titulo-paragrafo03{
    position: relative;
    top: 33vh;
    right: 20vh;
    font-size: 2.3vh;    
}  

.conteudo03{
    position: relative;
    top: 33vh;
    right: 20vh;
    font-size: 2.1vh; 
}

.paragrafo-conteudo03{
    position: relative;
    top: 33vh;
    right: 20vh;
    font-size: 2.1vh; 
}

#conteudo-clientes{
  padding-top: 60vh;
}

.conteudo-clientes-titulo{
  font-size: 3vh;
}

.logo1{
  width: 15vh;
}

.logo2{
  width: 15vh;
  padding-top: 50px;
}

.logo3{
  width: 15vh;
  padding-bottom: 15vh;
}

.logo4{
  width: 15vh;
}

.logo5{
padding-top: 50px;
width: 15vh;
}

.logo6{
  padding-bottom: 25px;
  width: 15vh;
}

.paragrafo-whats{
  font-size: 3.2vh;
}

.whast-numero{
  font-size: 4vh;
  width: 50%;
}

.img-whats{
  padding-bottom: 10px;
}

.Logo-work{
  position: relative;
  left: 1vh;
}

.conteudo-telefone-titulo{
  left: 1vh;
  top: 1vh;
}

.conteudo-proposito{
  left: 1vh;
  top: 1vh;
  
}

.conteudo-valores{
  left: 1vh;
  top: 1vh;
}

.conteudo-endereco-titulo{
  font-size: 2vh;
  left: 1vh;
}

.conteudo-telefone-titulo{
  font-size: 2vh;
}

.conteudo-proposito{
  font-size: 2vh;
}

.conteudo-valores{
  font-size: 2vh;
}
}

@media (max-width: 425px){

#conteudo-secudario{
  background: none;  
}

p {
  width: 80%;
}

main {
  height: 100vh;
  background: url("imgWork/predio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;  
  background-color: rgb(0, 0, 0, 0.2);
  background-blend-mode: color;
}

.conteudo-principal{
  background-size: 80%;
  top: 50vh;
}

.conteudo-secuntadario-titulo{
  padding-top: 15vh;
}

.conteudo-titulo-paragrafo{
  padding-right: 20px;
}

.conteudo-todo02{
  padding-top: 20%;
  right: 55%;
}

.conteudo-todo03{
  padding-top: 20%;
}

.conteudo-todo{
  padding-top: 20%;
  padding-left: 1%;
  width: 100%;
}

.conteudo-clientes-titulo{
  padding-top: 120%;
}

.logo1{
  padding-left: 4vh;
}

.paragrafo-whats{
  width: 100%;
}

.whast-numero{
  width: 80%;
  padding-left: 80px;
}

.img-whats {
  position: relative;
  left: 30px;
  top: 18px;
}
}

@media (max-width: 375px){

  p {
    width: 80%;
  }

  main {
    height: 110vh;
    background: url("imgWork/predio.jpg");
  }

  .conteudo-principal-paragrafo{
    width: 90%;
    margin: 0;
    padding-bottom: 10px;
  }

  .logo3{
    width: 15vh;
    padding-bottom: 10vh;
  }
}

@media (max-width: 375px){
  p {
    width: 100%;
  }

  main {
    height: 123vh;
    background: url("imgWork/predio.jpg");
  }

  .conteudo-principal-paragrafo{
    width: 90%;
  }

  .whast-numero{
    width: 80%;
    padding-left: 50px;
  }

  .img-whats {
    position: relative;
    left: 20px;
    top: 18px;
  }

}